[submodule "alexander-ros2/ihmc_psyonic_ros2"]
	path = alexander-ros2/ihmc_psyonic_ros2
	url = git@github.com:ihmcrobotics/ihmc_psyonic_ros2.git
[submodule "alexander-ros2/ihmc_sake_ros2"]
	path = alexander-ros2/ihmc_sake_ros2
	url = https://github.com/ihmcrobotics/ihmc_sake_ros2.git
