<?xml version = "1.0" ?>
<robot name="Alex">

    <!-- Right Upper Arm Joints -->
    <!-- NEED TO CHECK JOINT LIMITS, EFFORTS, AND BASE ROTATIONS -->
   	<joint name="RIGHT_SHOULDER_Y" type="revolute">
        <origin xyz="-0.00050000 -0.12989023 0.38214403" rpy="-0.698132 0.0 0.0"/>
        <axis xyz="0.0 1.0 0.0"/>
        <parent link="TORSO_LINK"/>
        <child link="RIGHT_SHOULDER_Y_LINK"/>
        <limit effort="160.7" lower="-3.141592" upper="1.22173" velocity="10.38"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <joint name="RIGHT_SHOULDER_X" type="revolute">
        <origin xyz="0.0 -0.01300000 0.11791000" rpy="0.698132 0.0 0.0"/>
        <axis xyz="1.0 0.0 0.0"/>
        <parent link="RIGHT_SHOULDER_Y_LINK"/>
        <child link="RIGHT_SHOULDER_X_LINK"/>
        <limit effort="160.7" lower="-0.349066" upper="2.79253" velocity="10.38"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <joint name="RIGHT_SHOULDER_Z" type="revolute">
        <origin xyz="0.0 -0.03500000 -0.10400000" rpy="0.0 0.0 0.0"/>
        <axis xyz="0.0 0.0 1.0"/>
        <parent link="RIGHT_SHOULDER_X_LINK"/>
        <child link="RIGHT_SHOULDER_Z_LINK"/>
        <limit effort="71.28" lower="-1.91986" upper="1.22173" velocity="4.47"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

   <!-- Left Upper Arm Links -->
    <link name="RIGHT_SHOULDER_Y_LINK">
        <inertial>
            <mass value="2.05868192"/>
            <origin rpy="0 0 0" xyz="-0.00570706 -0.0080361 0.09757156"/>
            <inertia ixx="0.00511665" ixy="0.00000918" ixz="0.00003641" iyy="0.00561764" iyz="0.00050629" izz="0.00322577"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_purdue_description/meshes/right_arm/r_shoulder_y_purdue.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <link name="RIGHT_SHOULDER_X_LINK">
        <inertial>
            <mass value="0.48051112"/>
            <origin rpy="0 0 0" xyz="-0.0037059 -0.02589813 -0.05866592"/>
            <inertia ixx="0.00101844" ixy="0.00005266" ixz="0.0001169" iyy="0.00111559" iyz="-0.00016556" izz="0.00087278"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_purdue_description/meshes/right_arm/r_shoulder_x_purdue.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <link name="LEFT_SHOULDER_Z_LINK">
        <inertial>
            <mass value="3.67445507"/>
            <origin rpy="0 0 0" xyz="0.0087191 0.00275047 -0.14270206"/>
            <inertia ixx="0.035168" ixy="-0.00004987" ixz="0.00284259" iyy="0.03490713" iyz="0.00063372" izz="0.00493209"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_purdue_description/meshes/right_arm/r_shoulder_z_purdue.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <!-- Right Upper Arm IMUs -->
    <!-- RIGHT SHOULDER Y (PITCH) -->
    <joint name="RIGHT_SHOULDER_Y_IMU_JOINT" type="fixed">
        <origin rpy="0.0 -0.261799 1.5708" xyz="0.01382603 -0.00835826 0.06095292"/>
        <axis xyz="0 0 1"/>
        <parent link="RIGHT_SHOULDER_Y_LINK"/>
        <child link="RIGHT_SHOULDER_Y_IMU_LINK"/>
    </joint>
    <link name="RIGHT_SHOULDER_Y_IMU_LINK">
        <inertial>
            <mass value="0"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <gazebo reference="RIGHT_SHOULDER_Y_IMU_LINK">
        <sensor name="right_shoulder_y_imu" type="imu">
            <always_on>true</always_on>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0</mean>
                        <stddev>0.0002</stddev>
                        <bias_mean>7.5e-06</bias_mean>
                        <bias_stddev>8e-07</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0</mean>
                        <stddev>0.017</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </sensor>
    </gazebo>

    <!-- RIGHT SHOULDER Z (YAW) -->
    <joint name="RIGHT_SHOULDER_Z_IMU_JOINT" type="fixed">
        <origin rpy="-1.570796 0.0 3.14159" xyz="-0.00395818 -0.01324003 -0.12899368"/>
        <axis xyz="0 0 1"/>
        <parent link="RIGHT_SHOULDER_Z_LINK"/>
        <child link="RIGHT_SHOULDER_Z_IMU_LINK"/>
    </joint>
    <link name="RIGHT_SHOULDER_Z_IMU_LINK">
        <inertial>
            <mass value="0"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>
    <gazebo reference="RIGHT_SHOULDER_Z_IMU_LINK">
        <sensor name="right_shoulder_z_imu" type="imu">
            <always_on>true</always_on>
            <pose>0 0 0 0 0 0</pose>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0</mean>
                        <stddev>0.0002</stddev>
                        <bias_mean>7.5e-06</bias_mean>
                        <bias_stddev>8e-07</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0</mean>
                        <stddev>0.017</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </sensor>
    </gazebo>
</robot>