<?xml version = "1.0" ?>
<robot name="Alexander">
    <joint name="LEFT_EZGRIPPER_ADAPTER" type="fixed">
        <!-- TODO: Figure out correct origin -->
        <origin xyz="0 0 -0.02" rpy="3.141592 1.570796 0"/>
        <parent link="LEFT_GRIPPER_Z_LINK"/>
        <child link="left_ezgripper_palm_link"/>
    </joint>
</robot>