<?xml version = "1.0" ?>
<robot name="Alex">

    <!-- HANGING JOINTS -->

     <!-- Fixed base attached to the world -->
  <link name="world_link"/>

  <!-- First chain link (10 m long rod) -->
  <link name="rod">
    <visual>
      <origin xyz="0 0 -5" rpy="0 0 0"/>
      <geometry>
        <cylinder length="10.0" radius="0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Three revolute joints connecting the world to the rod -->
  <joint name="joint1" type="revolute">
    <parent link="world_link"/>
    <child link="temp_link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="100.0"/>
  </joint>

  <link name="temp_link1"/>

  <joint name="joint2" type="revolute">
    <parent link="temp_link1"/>
    <child link="rod"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="100.0"/>
  </joint>


  <!-- Three revolute joints connecting the rod to the robot -->
  <joint name="joint4" type="revolute">
    <parent link="rod"/>
    <child link="temp_link3"/>
    <origin xyz="0 0 -10" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="100.0"/>
  </joint>

  <link name="temp_link3"/>

  <joint name="joint5" type="revolute">
    <parent link="temp_link3"/>
    <child link="temp_link4"/>
    <origin xyz="0 0 -0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="100.0"/>
  </joint>

  <link name="temp_link4"/>

  <joint name="joint6" type="revolute">
    <parent link="temp_link4"/>
    <child link="PELVIS_LINK"/>
    <origin xyz="0 0 -0.75" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="100.0"/>
  </joint>