<?xml version = "1.0" ?>
<robot name="Alex">

    <joint name="LEFT_ELBOW_Y" type="revolute">
        <origin rpy="0.0 0.0 0.0" xyz="0.015 0.0 -0.3127"/>
        <axis xyz="0.0 1.0 0.0"/>
        <parent link="LEFT_SHOULDER_Z_LINK"/>
        <child link="LEFT_ELBOW_Y_LINK"/>
        <limit effort="71.28" lower="-2.35619" upper="0.174533" velocity="4.47"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="LEFT_ELBOW_Y_LINK">
        <inertial>
            <!-- FOREARM NUB WITH WEIGHT ATTACHMENT HARDWARE -->
            <mass value="2.90080654"/>
            <origin rpy="0 0 0" xyz="0.02580776 -0.0022655 -0.27028526"/>
            <inertia ixx="0.05089362" ixy="-0.00021234" ixz="0.00516379" iyy="0.0533449" iyz="0.00166829" izz="0.00464446"/>

        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_virtual_description/alex_v1_description/meshes/cycloidal_arm/LEFT_ELBOW_PITCH_LINK_413mm_LENGTH_NO_WEIGHT.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
        <collision name="left_elbow_y_collision">
            <origin xyz="-0.02 0 -0.25" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.04" length="0.30"/>
            </geometry>
        </collision>
    </link>
</robot>