<?xml version = "1.0" ?>
<robot name="Alex">
    <!-- NECK & HEAD LINKS -->
    <joint name="NECK_Z" type="revolute">
        <origin rpy="0 0 0" xyz="-0.015 0 0.450403"/>
        <axis xyz="0 0 1"/>
        <parent link="TORSO_LINK"/>
        <child link="NECK_Z_LINK"/>
        <limit effort="20.86" lower="-1.5708" upper="1.5708" velocity="17.3"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="NECK_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0.025 0.01 0.189597"/>
        <axis xyz="0 1 0"/>
        <parent link="NECK_Z_LINK"/>
        <child link="HEAD_LINK"/>
        <limit effort="20.86" lower="-0.488692" upper="0.488692" velocity="17.3"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <!-- NECK & HEAD LINKS -->
    <link name="NECK_Z_LINK">
        <inertial>
            <mass value="1.03172573"/>
            <origin rpy="0 0 0" xyz="0.00626571 0.0059834 0.15148116"/>
            <inertia ixx="0.00611354" ixy="-0.00005224" ixz="-0.00058532" iyy="0.00602503" iyz="-0.00028073" izz="0.0009799"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <material name="gray">
                <color rgba="0.05 0.05 0.05 1.0"/>
            </material>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0.0"/>
        </visual>
    </link>
    <link name="HEAD_LINK">
        <inertial>
            <mass value="1.27065932"/>
            <origin rpy="0 0 0" xyz="0.0407664 -0.00396678 0.007163"/>
            <inertia ixx="0.00424227" ixy="-0.00008839" ixz="0.00054485" iyy="0.00501825" iyz="-0.00010863" izz="0.00451978"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_description/meshes/V1/ALX02_01_A02_HeadLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
        <collision name="head_collision">
            <origin xyz="0.03237 -0.013568 0.007163" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.14"/>
            </geometry>
        </collision>
    </link>

    <!-- HEAD ZED X MINI -->
    <joint name="HEAD_ZED_X_MINI_JOINT" type="fixed">
        <origin rpy="0.0 0.3633 0.0" xyz="0.13041 -0.01079 0.02381"/>
        <parent link="HEAD_LINK"/>
        <child link="HEAD_ZED_X_MINI_LINK"/>
    </joint>

    <link name="HEAD_ZED_X_MINI_LINK">
        <inertial>
            <mass value="0"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_description/meshes/ZEDXMini.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <!-- HEAD IMU -->
    <joint name="HEAD_IMU_JOINT" type="fixed">
        <origin rpy="0.56723 0.0 1.5708 " xyz="0.040556 -0.014155 0.057016"/>
        <axis xyz="0 0 1"/>
        <parent link="HEAD_LINK"/>
        <child link="HEAD_IMU_LINK"/>
    </joint>

    <link name="HEAD_IMU_LINK">
        <inertial>
            <mass value="0"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <gazebo reference="HEAD_IMU_LINK">
        <sensor name="head_imu" type="imu">
            <always_on>true</always_on>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0</mean>
                        <stddev>0.0002</stddev>
                        <bias_mean>7.5e-06</bias_mean>
                        <bias_stddev>8e-07</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0</mean>
                        <stddev>0.017</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </sensor>
    </gazebo>
</robot>
