<?xml version = "1.0" ?>
<robot name="Alex">

    <joint name="LEFT_ELBOW_Y" type="revolute">
        <origin rpy="0.0 0.0 0.0" xyz="0.015 0.0 -0.3127"/>
        <axis xyz="0.0 1.0 0.0"/>
        <parent link="LEFT_SHOULDER_Z_LINK"/>
        <child link="LEFT_ELBOW_Y_LINK"/>
        <limit effort="71.28" lower="-2.35619" upper="0.174533" velocity="4.47"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="LEFT_ELBOW_Y_LINK">
        <inertial>
            <!-- FOREARM NUB WITH WEIGHT ATTACHMENT HARDWARE -->
            <mass value="7.64773022"/>
            <origin rpy="0 0 0" xyz="0.04211176 -0.00085931 -0.38181795"/>
            <inertia ixx="0.11528131" ixy="-0.00031948" ixz="0.01366215" iyy="0.11896564" iyz="0.00240126" izz="0.01507598"/>

        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alex_V1_description/meshes/cycloidal_arm/LEFT_ELBOW_PITCH_LINK_413mm_LENGTH_10LB.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
        <collision name="left_elbow_y_collision">
            <origin xyz="-0.02 0 -0.25" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.04" length="0.30"/>
            </geometry>
        </collision>
    </link>
</robot>